#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define GAMING_1 0
#define GAMING_2 1
#define SETTINGS 2
#define LOCK 3

/ {
    combos {
        compatible = "zmk,combos";

        // Meta combos
        meta_settings_combo {
            timeout-ms = <50>;
            key-positions = <16 17 18>;
            bindings = <&mo SETTINGS>;
        };

        gaming_combo {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <16 18>;
            bindings = <&tog GAMING_1>;
        };

        meta_lock_combo {
            timeout-ms = <50>;
            key-positions = <15 17 19>;
            bindings = <&tog LOCK>;
        };
    };
 
    keymap {
        compatible = "zmk,keymap";

        gaming_layer_1 {
            bindings = <
                    &kp ESC &kp Q &kp W &kp E &kp R
                    &kp TAB &kp A &kp S &kp D &kp F
                    &kp LSHIFT &kp Z &kp X &kp C &kp V
                &kp LCTRL &kp GRAVE &kp RET &mo GAMING_2 &kp SPACE
            >;
        };

        gaming_layer_2 {
            bindings = <
                    &kp T &kp Y &kp U &kp I &kp O
                    &kp G &kp H &kp J &kp K &kp L
                    &kp B &kp N &kp M &none &none
                &kp P &none &to GAMING_1 &none &none
            >
        }

        settings_layer {
            bindings = <
                            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                            &none        &none        &none        &none        &none 
                            &kp P        &none        &sys_reset   &none        &none 
                &bootloader &none                     &none                     &none        &bt BT_CLR
            >;
        };
    };
}
